VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_MOCK_GAME_HUB_CONTRACT_ID=CB4VZAT2U3UC6XFK3N23SKRF2NDCMP3QHJYMCHHFMZO7MRQO6DQ2EMYG
VITE_CLASH_CONTRACT_ID=CCRG66MIX7ATFB4T3VJZ4TJLWKNRXKBX6HZWPUL2U2UQLUO5564F5IL5
VITE_ACCOUNT_WASM_HASH=0a7acdeb68d2f08f6ab87dec7cb1542db02b8f1a491f14ce4ccb56fe21cb95ac
VITE_WEBAUTHN_VERIFIER_ADDRESS=CCMR63YE5T7MPWREF3PC5XNTTGXFSB4GYUGUIT5POHP2UGCS65TBIUUU
VITE_ED25519_VERIFIER_ADDRESS=CCJOUKLCZVCXS4VIBBEA7S3SPWZQS5DPE5A4YG67RA3Z7E3SJZAUJFQA

VITE_DEV_POINTS_TRACKER_ADMIN_ADDRESS=GBFP2GNYCURIRAOEHYA6FV4SL74AO6NGIRPIBIWEUQQ5O2AKRNR5MBV3
VITE_DEV_POINTS_TRACKER_ADMIN_SECRET=SDGL5P7VJT3KEXYUEV6W4ZDQOOFEVGEASUYJK2LAGKXMUOQJO6PNLCUD